.user-registration-form {
    width:60%
}
.gender-radio-group {
    display: inline-flex;
    flex-direction: row;
}
.gender-radio-button {
    margin: 5px;
}

.example-full-width {
    width: 180%;
  }