.user-registration-form {
    width:100%
}
.gender-radio-group {
    display: inline-flex;
    flex-direction: row;
}
.gender-radio-button {
    margin: 5px;
}

.example-full-width {
    width: 100%;
  }

.contactInfo {
    background-color:pink;
    width: 100%;
    margin-bottom: 10px;
}