<div class="formdialog">
  <mat-toolbar>
    <div style="text-align:center">
    <h3>Login</h3>
    </div>
  </mat-toolbar>
  <br>

  <form #Loginform="ngForm" (ngSubmit)="userLogin.close()" ngNativeValidate>

    <div fxLayout="column" fxLayoutGap="10px">

      <mat-form-field>
        <input matInput name="email" placeholder="Email" [(ngModel)]="email" email required>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="password" placeholder="Password" type="password" [(ngModel)]="password" required>
      </mat-form-field>

    </div>

    <mat-dialog-actions align="end">
      <button mat-button (click)="userLogin.close()">Cancel</button>
      <button mat-raised-button color="accent" (click)="signIn($event)" [disabled]="!Loginform.form.valid">Login</button>
      <p *ngIf="errorMsg" color="warn">{{errorMsg}}</p>
    </mat-dialog-actions>

  </form>
</div>