<div class="formdialog">
  <mat-toolbar>
    <h3>Login</h3>
  </mat-toolbar>
  <br>

  <form #form="ngForm" (ngSubmit)="userLogin.close()" ngNativeValidate>

    <div fxLayout="column" fxLayoutGap="10px">

      <mat-form-field>
        <input matInput name="userName" placeholder="User Name" [(ngModel)]="userName" required>
      </mat-form-field>


      <mat-form-field>
        <input matInput name="password" placeholder="Password" type="password" [(ngModel)]="password" required>
      </mat-form-field>

    </div>

    <mat-dialog-actions align="end">
      <button mat-button (click)="userLogin.close()">Cancel</button>
      <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="!price">Login</button>
    </mat-dialog-actions>

  </form>
</div>