.menu-card {
    width: 300px;
    min-height: 100px;
    max-width: 300px;
    margin: 8px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
    overflow: hidden;
  }
.filter-category {
    width: 180px;
}
.imageMenu {
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.1); 
        border: 2px solid #FF4081;       
    }
}

.option-right {  
    float:right;
}
.filter-left {
    float:left;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }


  