<div fxLayout="column" fxFlex>

  <h2 class="page-title">Menu List Page</h2>

  <!-- ************** -->

  <mat-form-field>
  <div class="filter-left">
    <label> Filter by  : </label>
    <mat-select placeholder="Category" [(ngModel)]="selectedCategory" (ngModelChange)="categoryChange($event)" class="filter-category">
      <mat-option *ngFor="let category of categories" [value]="category">
        {{ category }}
      </mat-option>
    </mat-select>
  </div>

  <div class="option-right">
    <mat-radio-group class="example-radio-group" [(ngModel)]="sortedPrice" (ngModelChange)="sortedPriceEvent($event)">
      Sort Price by :
      <mat-radio-button class="example-radio-button" *ngFor="let price of prices" [value]="price">
        {{price}}
      </mat-radio-button>
    </mat-radio-group>
    <!-- <div class="example-selected-value">Your favorite season is: {{SortedPrice}}</div> -->
  </div>

  </mat-form-field>



  <br/>


  <!-- *********** -->

  <div *ngIf="items?.length > 0; else noMenu">

    <section fxLayout="row" fxLayoutWrap fxLayout.sm="column" fxLayoutGap="24px" fxLayoutAlign="center">
      <mat-card class="menu-card" *ngFor="let item of items ">
        <img mat-card-image src="{{item.image}}" (click)="openView($event,item)" class="imageMenu">
        <p>{{item.menuName}}</p>
        <p>
          <strong>Php {{item.price}}</strong>
        </p>
        <!-- <mat-card-actions>
        <div style="text-align:center">
          <button mat-raised-button color="accent" (click)="openView($event,item)">VIEW</button>
          <button *ngIf="(user | async)?.uid" mat-raised-button color="warn" (click)="deleteMenu($event,item.id)"> DELETE </button>
        </div>
      </mat-card-actions> -->
      </mat-card>
    </section>

  </div>

</div>

<ng-template #noMenu>
  <hr>
  <h3>there was no items to list</h3>
  <mat-progress-spinner color="accent" mode="indeterminate" [style.display]="spinnerVisibility" class="spinner">
  </mat-progress-spinner>
</ng-template>