.menu-card {
    height: 100%;
    margin-bottom:5rem;
    transition: all .2s ease-in-out;  
    &:hover {
        box-shadow: 0 8px 8px 8px rgba(0,0,0,.2), 0 8px 8px 0 rgba(0,0,0,.14), 0 8px 8px 0 rgba(0,0,0,.12) !important;
        transform: translate3d(0,0,0);
        transition: background .4s cubic-bezier(.25,.8,.25,1),box-shadow 280ms cubic-bezier(.4,0,.2,1);
    }
  }
.filter-category {
    width: 250px;
}

.mat-card-image {
    width: 250px;   
}

.option-right {  
    float:right;
}
.filter-left {
    float:left;
}

.loading {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }


  