.menu-card {
    width: 250px;
    height: 225px;
    margin-bottom:1rem;
  }
.filter-category {
    width: 180px;
}
.imageMenu {
    transition: all .2s ease-in-out;
    &:hover {
        transform: scale(1.1); 
        border: 2px solid #FF4081;       
    }
}

.option-right {  
    float:right;
}
.filter-left {
    float:left;
}


  