<div class="formdialog">
  <mat-toolbar>
    <h3>Add Menu</h3>
  </mat-toolbar>
  <br>

  <form #form="ngForm" (ngSubmit)="dialogRef.close()" ngNativeValidate>

    <div fxLayout="column" fxLayoutGap="10px">

      <mat-form-field>
        <input matInput name="menuName" placeholder="Menu Name" [(ngModel)]="menuName" required>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="description" placeholder="Description" [(ngModel)]="description" required>
      </mat-form-field>

      <!-- <mat-form-field>
        <input matInput name="group" placeholder="Group" [(ngModel)]="group" required>
      </mat-form-field> -->

      <!-- <mat-form-field>
        <mat-select [(value)]="group" placeholder="Choose a Category" required>
          <mat-option value="Appetizer">Appetizer</mat-option>
          <mat-option value="Drinks">Drinks</mat-option>
          <mat-option value="Silog">Silog</mat-option>
          <mat-option value="Soup">Soup</mat-option>  
        </mat-select>
      </mat-form-field> -->

      <mat-form-field>
        <mat-select placeholder="Category" [(ngModel)]="group" name="group" required>
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input matInput name="price" placeholder="Price" [(ngModel)]="price" type="number" required>
      </mat-form-field>

      <mat-card>

        <label>
          <input type="file" id="image" name="image" [(ngModel)]="image" required>
        </label>

      </mat-card>
    </div>

    <mat-dialog-actions align="end">
      <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
      <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="!price">Save Book</button>
    </mat-dialog-actions>

  </form>
  
</div>