<div class="formdialog">
<h3>Add Menu</h3>
<!-- <form #form="ngForm" (ngSubmit)="dialogRef.close(form.value)" ngNativeValidate>

  <div fxLayout="column" fxLayoutGap="8px">

    <mat-input-container>
      <input matInput ngModel name="name" placeholder="Menu Name" [(ngModel)]="currentUpload.menuName" required>
    </mat-input-container>
    
    <mat-input-container>
      <input matInput ngModel name="description" placeholder="Description" [(ngModel)]="currentUpload.description" required>
    </mat-input-container>

    <mat-input-container>
      <input matInput ngModel name="group" placeholder="Group" [(ngModel)]="currentUpload.group" required>
    </mat-input-container>

    <mat-input-container>
      <input matInput ngModel name="price" placeholder="Price" [(ngModel)]="currentUpload.price" required>
    </mat-input-container>

    <mat-input-container>
      <input matInput ngModel name="coverImage" placeholder="Cover Image" [(ngModel)]="dataType.Image" required>
    </mat-input-container>

  </div>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="dialogRef.close()">Cancel</button>
    <button mat-button color="accent" (click)="onSubmit()">Save Book</button>
  </mat-dialog-actions>
</form> -->


<!-- <div *ngIf="currentUpload">
  <div class="progress">
    <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
  </div>
  Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
</div> -->

<div *ngIf="currentUpload" class="progress" style="width:400px">
	<div class="progress-bar progress-bar-info progress-bar-striped"
		role="progressbar" attr.aria-valuenow="{{progress.percentage}}"
		aria-valuemin="0" aria-valuemax="100"
		[ngStyle]="{width:progress.percentage+'%'}">
		{{progress?.percentage}}%</div>
  </div>

<mat-card>
  <mat-card-content>
    <h2 class="example-h2">Result</h2>

    <section class="example-section">
      <mat-progress-bar
          class="example-margin"
          [color]="accent"
          [mode]="determinate"
          [value]= "100"
          [bufferValue]="100">
      </mat-progress-bar>
    </section>
  </mat-card-content>
</mat-card>

{{progress?.percentage}}

    <label>
       <input type="file" (change)="detectFiles($event)">
    </label>
    <button
            [disabled]="!selectedFiles"
            (click)="uploadSingle()">
      Upload Single
    </button>      
</div>
