<div fxLayout="column" fxFlex>

  <mat-toolbar color="accent">

    <span>
      <img src="../assets/casa-felipa-logo.jpg" class="casa-felipa-logo">
    </span>
    <span class="spacer"></span>

    <div class="example-tooltip-host" matTooltip="Menu">
      <button mat-mini-fab (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
    </div>

    <div *ngIf="!(user | async)?.uid">
      <div class="example-tooltip-host" matTooltip="Login">
        <button mat-mini-fab (click)="openUserLogin()">
          <i class="fas fa-sign-in-alt"></i>
        </button>
      </div>
    </div>
    
    <div *ngIf="(user | async)?.uid">
      <div class="example-tooltip-host" matTooltip="Logout">
        <button mat-mini-fab (click)="logOut()">
          <i class="fas fa-sign-out-alt"></i>
        </button>
      </div>
    </div>
    <div *ngIf="(user | async)?.uid">
      <div class="example-tooltip-host" matTooltip="Add Menu">
        <button mat-mini-fab (click)="openAddMenuDialog()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
    </div>
  </mat-toolbar>

  <mat-sidenav-container fxFlex>
    <mat-sidenav mode="over" #sidenav color="accent">
      <mat-nav-list>
        <img src=".\assets\felipalogo.jpg">
        <a mat-list-item [href]="link.path" *ngFor="let link of links"><i class="{{link.icon}}"></i><span>&nbsp;</span>{{ link.name }} </a>
      </mat-nav-list>
    </mat-sidenav>
    <div class="content" fxLayout="column" fxFlex>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-container>

</div>

<footer class='container text-center'>
  <hr/>
  <div style="text-align:center; color:#979797"> &copy;  Barbeque and Bulalo  by Casa Felipa | <strong>renzoft.dev</strong>
  </div>
</footer>