<div fxLayout="column" fxFlex>

  <h2 class="page-title">Master File</h2>


 <div  *ngIf="items?.length > 0; else noMenu">

  <section fxLayout="row" fxLayoutWrap fxLayout.sm="column" fxLayoutGap="24px" fxLayoutAlign="center">
    <mat-card class="menu-card" *ngFor="let item of items ">
      <img mat-card-image src="{{item.image}}">
      <p>{{item.menuName}}</p>
      <p>
        <strong>Php {{item.price}}</strong>
      </p>
      <mat-card-actions>
        <div style="text-align:center">
          <button mat-raised-button color="accent" (click)="openView($event,item)">VIEW</button>
          <button *ngIf="(user | async)?.uid" mat-raised-button color="warn" (click)="deleteMenu($event,item.id, item.imgName)"> DELETE </button>
        </div>
      </mat-card-actions>
    </mat-card>
  </section>

</div> 

</div>

<ng-template #noMenu>
  <hr>
  <h3>There was no items to Display, Please try to refresh.</h3>
  <mat-progress-spinner color="accent" mode="indeterminate" [style.display]="spinnerVisibility" class="spinner">
  </mat-progress-spinner>
</ng-template>
