<div fxLayout="column" fxFlex>
    <h2 class="page-title">Menu List Master Detail Page</h2>
    <mat-sidenav-container flexLayout-="row" fxFlex class="menus-list">
      <mat-sidenav mode="side" opened>
        <mat-nav-list>
          <mat-list-item *ngFor="let menu of menusList | async" (click)="selectedMenu = menu">
            <img mat-list-avatar [src]="menu.coverImage" />
            <h2 mat-line>{{menu.menuName}}</h2>
            <p mat-line> {{menu.description}} </p>
          </mat-list-item>
        </mat-nav-list>
      </mat-sidenav>
      <div class="menus-list-item" fxFlex>
        <div *ngIf="selectedMenu" class="menus-list-item--detail" fxLayout="row" fxFlex.sm="column">
          <div class="menus-list-item--coverimage">
            <img [src]="selectedMenu.image" />
          </div>
          <div class="menus-list-item--content" fxFlex>
            <h3>{{selectedMenu.menuName}}</h3>
            <p>{{selectedMenu.description}}</p>
            <p>{{selectedMenu.group}}</p>
            <p>ISBN: {{selectedMenu.price}}</p>
            <p>{{selectedMenu.image}}</p>
          </div>
        </div>
      </div>
    </mat-sidenav-container>
  </div>
  
  
