.menus-list {
  background: #ffffff;
  box-shadow: 0 0 1px rgba(0,0,0,.15);
}

mat-sidenav {
  width: 300px;
  border-right: 1px solid rgba(0,0,0,.04);
}

mat-nav-list {
  padding-top: 0;

  h2 {
    font-size: 0.875rem !important;
  }

  p {
    font-size: 0.75rem !important;
  }
}

.menus-list-item {
  padding: 0 1rem 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.menus-list-item--detail {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  // margin-left: 475px;
  margin-top: 10px;
}

.menus-list-item--coverimage {
  width: 600px;
  padding: 1rem;

  img {
    width: 100%;
  }
}

.menus-list-item--content {
  padding: 1rem 1rem 1rem 0;

  h3 {
    margin-top: 0;
    margin-bottom: 0.875rem;
    font-size: 1.25rem;
    font-weight: 400;
  }

  p {
    margin-top: 0;
    font-size: 0.875rem;
    line-height: 150%;
  }

}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
