<div class="container-fluid">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/casa-felipa-16ec1.appspot.com/o/gif%2Fappetizer.gif?alt=media&token=bdd7f38c-d5c4-4353-b1da-6c2e61e4af2b"
          alt="First slide">
          <div class="carousel-caption d-none d-md-block">
              <h1 class="textCarousel">"Taste the Best Pinoy Cuisine only in Casa Felipa"</h1>
              <p></p>
              <button type="button" class="btn btn-outline-danger btn-lg buttonf" (click)="welcomeBtn()">Welcome</button>
            </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/casa-felipa-16ec1.appspot.com/o/gif%2Fsilog.gif?alt=media&token=7066c730-4532-42cb-91db-38fa79bb51b6"
          alt="Second slide" >
          <div class="carousel-caption d-none d-md-block">
              <h1 class="textCarousel">"Dine near the beautiful Plaza de Angel of Angeles City"</h1>
              <p></p>
              <button type="button" class="btn btn-outline-danger btn-lg buttonf" (click)="welcomeBtn()">Welcome</button>
            </div>
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="https://firebasestorage.googleapis.com/v0/b/casa-felipa-16ec1.appspot.com/o/gif%2Fsoup.gif?alt=media&token=749cbe74-4ba1-41aa-a166-d492c6a75530"
          alt="Third slide" >
          <div class="carousel-caption d-none d-md-block">
              <h1 class="textCarousel">"Experience the finest customer service of our crew"</h1>
              <p></p>
              <button type="button" class="btn btn-outline-danger btn-lg buttonf" (click)="welcomeBtn()">Welcome</button>
            </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>