.carousel {
  width:85%;
  margin:0 auto;
}

.carousel-item {
  margin:6px 6px;
  border: 15px solid #eee;
  box-shadow:#555 2px 2px 10px 2px;
}
.textCarousel {
  font-family: 'Nanum Pen Script', cursive, important;
}

// .buttonf {
//   background-color: rgba(245, 245, 245, 0.4);
// }

// .buttonf {
//   background-color: rgba(245, 245, 245, 0.4);
// }


.buttonf {
  transition: all .2s ease-in-out;
  background-color: rgba(245, 245, 245, 0.4);
  box-shadow:#555 2px 2px 10px 2px;
  &:hover {
      transform: scale(1.1); 
      border: 2px solid #FF4081;  
      background-color: #FF4081;  
  }
}
